<!-- Loop over each object in the posts array -->
{{!-- {{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}} --}}

<div class="container">
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/tropicana-field.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/oakland.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/angels.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/tigers.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/dbacks.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/toronto.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/brewers.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/indians-stadium.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/astros.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/marlins.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/nationals.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/royals.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/braves.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/yankee-stadium.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/dodger.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/phillies.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/texas.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/cardinals.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/mariners.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/twins.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/camden-yards.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/rockies.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/mets.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/cubs.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/padres.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/fenway.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/giants.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/pirates.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/reds.jpg"
              style="width:100%"
            />
          </div>
          <div class="mySlides">
            <img
              src="../../public/image/stadiums/white-sox.jpg"
              style="width:100%"
            />
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <div class="row">
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/tropicana-field.jpg"
                style="width:100%"
                onclick="currentSlide(1)"
                alt="Tropicana Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/oakland.jpg"
                style="width:100%"
                onclick="currentSlide(2)"
                alt="Oakland Coliseum"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/angels.jpg"
                style="width:100%"
                onclick="currentSlide(3)"
                alt="Angel Stadium"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/tigers.jpg"
                style="width:100%"
                onclick="currentSlide(4)"
                alt="Comerica Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/dbacks.jpg"
                style="width:100%"
                onclick="currentSlide(5)"
                alt="Chase Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/toronto.jpg"
                style="width:100%"
                onclick="currentSlide(6)"
                alt="Rogers Center"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/brewers.jpg"
                style="width:100%"
                onclick="currentSlide(7)"
                alt="American Family Ballpark"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/indians-stadium.jpg"
                style="width:100%"
                onclick="currentSlide(8)"
                alt="Progressive Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/astros.jpg"
                style="width:100%"
                onclick="currentSlide(9)"
                alt="Minute Mid Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/marlins.jpg"
                style="width:100%"
                onclick="currentSlide(10)"
                alt="LoanDeopt Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/nationals.jpg"
                style="width:100%"
                onclick="currentSlide(11)"
                alt="Nationals Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/royals.jpg"
                style="width:100%"
                onclick="currentSlide(12)"
                alt="Kauffman Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/braves.jpg"
                style="width:100%"
                onclick="currentSlide(13)"
                alt="Truist Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/yankee-stadium.jpg"
                style="width:100%"
                onclick="currentSlide(14)"
                alt="Yankee Stadium"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/dodger.jpg"
                style="width:100%"
                onclick="currentSlide(15)"
                alt="Dodger Stadium"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/phillies.jpg"
                style="width:100%"
                onclick="currentSlide(16)"
                alt="Citizens Bank Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/texas.jpg"
                style="width:100%"
                onclick="currentSlide(17)"
                alt="Globe Life Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/cardinals.jpg"
                style="width:100%"
                onclick="currentSlide(18)"
                alt="Busch Stadium"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/mariners.jpg"
                style="width:100%"
                onclick="currentSlide(19)"
                alt="T Mobile Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/twins.jpg"
                style="width:100%"
                onclick="currentSlide(20)"
                alt="Target Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/camden-yards.jpg"
                style="width:100%"
                onclick="currentSlide(21)"
                alt="Camden Yards"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/rockies.jpg"
                style="width:100%"
                onclick="currentSlide(22)"
                alt="Coors Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/mets.jpg"
                style="width:100%"
                onclick="currentSlide(23)"
                alt="Citi Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/cubs.jpg"
                style="width:100%"
                onclick="currentSlide(24)"
                alt="Wrigley Field"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/padres.jpg"
                style="width:100%"
                onclick="currentSlide(25)"
                alt="Petco Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/fenway.jpg"
                style="width:100%"
                onclick="currentSlide(26)"
                alt="Fenway Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/giants.jpg"
                style="width:100%"
                onclick="currentSlide(27)"
                alt="Oracle Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/pirates.jpg"
                style="width:100%"
                onclick="currentSlide(28)"
                alt="PNC Park"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/reds.jpg"
                style="width:100%"
                onclick="currentSlide(29)"
                alt="Great American Ballpark"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="../../public/image/stadiums/white-sox.jpg"
                style="width:100%"
                onclick="currentSlide(30)"
                alt="Guarenteed Rate Field"
              />
            </div>
          </div>
          <script src="./js/gallary.js"></script>